body {
  color: rgb(0, 0, 0);
  background-color: #5c1374;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 13.3px;
  padding: 0px;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
}

.container {
  color: aliceblue;
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  box-sizing: border-box;
}

.container div {
  background-color: #2b0637;
  width: 25%;
  text-align: center;
  padding: none;
}

.container div :hover {
  display: flex;
  background-color: rgb(207, 142, 22);
  color: white;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 0px;
  margin: 0%;
}

.adiv {
  text-decoration: inherit;
  background-color: red;
  color: inherit;
}

.logohome {
  position: relative;
  background-color: black;
  width: 65px;
  height: 65px;
  margin-right: 0px;
  margin-top: 0px;
  padding: none;
  border: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: none;
  border-radius: 90px;
  margin-right: 20px;
}

.divbanner {
  margin-top: 3%;
  background-color: #341671;
  position: relative;
  width: 83.5%;
  height: 265px;
  margin-left: 11.5%;
  border-radius: 10px;
}

.banner {
  background-color: #280659;
  padding: 10px;
  width: 40%;
  margin: 2%;
  height: 200px;
  border-radius: 10px;
}
.textobanner {
  width: 50%;
  margin-left: 46%;
  text-align: left;
  margin-top: -250px;
}

.texto {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 103%;
  word-wrap: normal;
  text-align: justify;
  color: aliceblue;
  line-height: 30px;
  font-size: 20px;
}
.divbannertwo {
  margin-top: 3%;
  flex-direction: row;
  justify-content: start;
  display: flex;
  background-color: #341671;
  position: relative;
  width: 83.5%;
  height: auto;
  margin-left: 11.5%;
  border-radius: 10px;
  margin-bottom: 4%;
  padding-bottom: 3%;
}

.textobannertwo {
  padding-top: 2%;
  display: inline;
  width: 88%;
  margin-left: 6.5%;
  margin-top: 0px;
  text-align: justify;
  word-wrap: normal;
}
.textotwo {
  display: inline;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 103%;
  word-wrap: normal;
  text-align: justify;
  color: aliceblue;
  line-height: 30px;
  font-size: 20px;
}
.divlideres {
  margin-top: auto;
  position: relative;
  background-color: #280659;
  width: 100%;
  height: 1000px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(207, 142, 22);
  text-align: center;
  padding-top: 70px;
  font-size: 20px;
}

.lideres {
  position: relative;
  background-color: #3c1a7d;
  height: 330px;
  width: 70%;
  margin: auto;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  margin-bottom: 80px;
}

.liderimg {
  display: flex;
  position: absolute;
  flex-direction: row;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  width: 150px;
  height: 150px;
  margin-left: 25px;
  margin-top: 30px;
  opacity: 0.9;
}
.liderimgtwo {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 150px;
  height: 150px;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  margin-top: 30px;
  margin-left: 81%;
  opacity: 0.9;
}

.textolider {
  color: aliceblue;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100px;
  width: 70%;
  margin-top: 1%;
  margin-left: 25%;
  text-align: justify;
  line-height: 30px;
}

.textolidertwo {
  color: aliceblue;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100px;
  width: 70%;
  margin-top: 3%;
  margin-left: 5%;
  text-align: justify;
  line-height: 30px;
}
